@charset "UTF-8";

/*
    Paleta de cores
    Azul: #27405c
    Lilas: #744e70
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #27405c;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* tudo que estiver fora da borda sera escondido */
    background-color: white;
    width: 260px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    transition: width .3s, height .3s;
    transition-timing-function: ease; /* suaviza as animacoes */
}

section#login > div#imagem {
    display: block;
    background: #14202E url(../imagens/pexels-ricardo-esquivel-1964471.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .9em;
}

form > div.campo {
    background-color: #744e70;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] { /* caminho para configurar botoes de inputs */
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #27405c;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #19283a;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 6px;
    background-color: white;
    border: 2px solid #27405c;
    color: #27405c;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #436ea0;
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}

